<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Your Login Credentials</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        padding: 20px;
      }
      h2{
        color: rgb(141, 28, 141);
      }
      .credential {
        font-size: 24px;
        font-weight: bold;
        color: #007bff;
      }
    </style>
  </head>
  <body>
    <h2>Hello, From Inventory Management</h2>
    <p>Your Login Credentials are:</p>
    <div class="credential"><%= credential %></div>
    <p>Thank you!</p>
  </body>
</html>
